 /* Navigation Bar Styling */
 nav {
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 16px 30px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s;
}

nav a:hover {
    background-color: #575757;
    transform: scale(1.05);
}

 /* Back Button Styling */
 .back-button {
    background-color: #0044cc;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.2s;
}

.back-button:hover {
    background-color: #575757;
    transform: scale(1.05);
}